<h1>Book a Reservation</h1>

<div class="toolbar">
<%= form_with url: new_reservation_path, method: :get, local: true do %>
  <%= date_field_tag :date, @selected_date, min: Date.current %>
  <%= submit_tag "Check Availability" %>
<% end %>

</div>

<% if flash[:alert] %>
  <p style="color:red;"><%= flash[:alert] %></p>
<% end %>

<%= form_with model: @reservation, url: confirm_reservations_path, data: { turbo: false } do |f| %>
   <p>
    <%= f.label :time_slot_id, "Time Slot" %><br>

    <%= f.select :time_slot_id,
      @time_slots.map { |s|
        label = "#{s.starts_at.strftime("%B %d, %Y • %-I:%M %p")} (#{s.availability_label} tables left)"
        [label, s.id]
      },
      { prompt: "Select a slot" }
    %>
  </p>

  <p>
    <%= f.label :party_size, "Number of guests" %><br>
    <%= f.number_field :party_size, min: 1 %>
  </p>

  <p>
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name %>
  </p>

  <p>
    <%= f.label :contact_phone %><br>
    <%= f.text_field :contact_phone %>
  </p>

  <%= f.submit "Review Reservation" %>
  <%= link_to "Back", reservations_path %>
<% end %>
