<h1>Edit Time Slot</h1>

<% if flash[:alert] %>
  <p style="color:red;"><%= flash[:alert] %></p>
<% end %>

<%= form_with model: @time_slot, url: admin_time_slot_path(@time_slot), method: :patch do |f| %>
  <p>
    <%= f.label :starts_at %><br>
    <%= f.datetime_local_field :starts_at, value: @time_slot.starts_at.strftime("%Y-%m-%dT%H:%M") %>
  </p>

  <p>
    <%= f.label :max_tables %><br>
    <%= f.number_field :max_tables, min: 1 %>
  </p>

  <p>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </p>

  <%= f.submit "Update" %>
<% end %>
